/* Navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 5px 15px;
    background: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    gap: 6rem;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 4rem;
}
/* Logo */
.logo img {
    width: 320px;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 4px;
    margin-top: 8px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: rgb(77, 76, 76);
    font-size: 13px;
    font-weight: 600;
    padding: 5px 5px;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    background-color: rgb(243, 46, 46);
    color: white;
    border-radius: 4px;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    /* padding: 10px; */
    top: 100%;
    left: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    min-width: 220px;
    border-radius: 5px;
}

.dropdown-menu li {
    padding: 0;
    background-color: black;
    border-bottom: 1px solid white;

}

.dropdown-menu a {
    display: block;
    padding: 8px 10px;
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Pay Now Button */
.pay-now {
    background: black;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
}

.pay-now:hover {
    background-color: red;
}
